# //*** htaccess » Tydi™ ~ AO™ • @iamodao • www.osawere.com ~ © 2023 • Apache License ***//
ServerSignature Off
DefaultLanguage en-US
AddType application/x-httpd-php .php .inc .phtml .html
DirectoryIndex index.php index.html index.phtml
Options All -Indexes
FileETag None
<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresByType text/html "access plus 1 seconds"
	ExpiresByType text/css "access plus 1 week"
	ExpiresByType image/gif "access plus 1 month"
	ExpiresByType image/png "access plus 1 month"
	ExpiresByType image/jpg "access plus 1 month"
	ExpiresByType image/jpeg "access plus 1 month"
	ExpiresByType application/javascript "access plus 1 week"
	ExpiresByType application/x-javascript "access plus 1 week"
	ExpiresByType text/javascript "access plus 1 week"
	ExpiresByType application/pdf "access plus 1 month"
	ExpiresByType application/x-shockwave-flash "access plus 1 month"
</IfModule>
<IfModule mod_deflate.c>
	SetOutputFilter DEFLATE
	DeflateCompressionLevel 6
	DeflateMemLevel 9
	DeflateWindowSize 15
	DeflateBufferSize 8192
	DeflateFilterNote ratio
</IfModule>
Header always set X-XSS-Protection "1; mode=block"
Header always set X-Content-Type-Options "nosniff"
Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
Header always set X-Frame-Options "SAMEORIGIN"

#Rewrites
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

#HTTP Error
ErrorDocument 400 /eror/http-400
ErrorDocument 403 /eror/http-403
ErrorDocument 404 /eror/http-404
ErrorDocument 500 /eror/http-500

#Forbidden
RedirectMatch 403 ^/(ario|cloud|orign|library|environ|tydi)/$

#Rewrite on TYDI
RewriteRule ^redirect\/(.+)$ /index.php?redirect=$1 [NC,QSA,END]
RewriteRule ^tydi\/(.+)$ /library/vendor/tydi/$1 [NC,QSA,END]
RewriteRule ^tydi.css$ /library/vendor/tydi/ario/tydi.css [NC,QSA,END]
RewriteRule ^tydi.js$ /library/vendor/tydi/ario/tydi.js [NC,QSA,END]


#Rewrite for AACE
RewriteRule ^aace/favicon\.ico$ /orig/aace/ario/media/photo/icon/favicon.png [NC,QSA,END]
RewriteRule ^aace/sliq\/(.+)$ /orig/aace/ario/sliq/$1 [NC,QSA,END]
RewriteRule ^aace/ao\/(.+)$ /orig/aace/ario/ao/$1 [NC,QSA,END]
RewriteRule ^aace/ario\/(.+)$ /orig/aace/ario/$1 [NC,QSA,END]
RewriteRule ^aace/js\/(.+)$ /orig/aace/ario/js/$1 [NC,QSA,END]
RewriteRule ^aace/css\/(.+)$ /orig/aace/ario/css/$1 [NC,QSA,END]
RewriteRule ^aace/font\/(.+)$ /orig/aace/ario/font/$1 [NC,QSA,END]
RewriteRule ^aace/audio\/(.+)$ /orig/aace/ario/media/audio/$1 [NC,QSA,END]
RewriteRule ^aace/image\/(.+)$ /orig/aace/ario/media/photo/$1 [NC,QSA,END]
RewriteRule ^aace/video\/(.+)$ /orig/aace/ario/media/video/$1 [NC,QSA,END]
RewriteRule ^aace/media\/(.+)$ /orig/aace/ario/media/$1 [NC,QSA,END]
RewriteRule ^aace/bundles\/(.+)$ /orig/aace/ario/bundles/$1 [NC,QSA,END]
RewriteRule ^aace/plugin\/(.+)$ /orig/aace/ario/plugin/$1 [NC,QSA,END]
RewriteRule ^aace/cloud\/(.+)$ /orig/aace/cloud/$1 [NC,QSA,END]
RewriteRule ^aace.css$ /orig/aace/ario/css/aace.css [NC,QSA,END]
RewriteRule ^aace.js$ /orig/aace/ario/js/aace.js [NC,QSA,END]


#Rewrite FAVICON
RewriteCond %{HTTP_HOST} ^((?!api|app|www|ario).+)\.(.+)\.(ng|com.ng|net|org|com|co.uk|co|one)$
RewriteRule ^favicon\.ico$ /orig/%1/ario/media/photo/icon/favicon.png [NC,QSA,END]
RewriteCond %{HTTP_HOST} ^(app|www|ario)\.(.+)\.(ng|com.ng|net|org|com|co.uk|co|one)$
RewriteRule ^favicon\.ico$ /orig/zero/ario/media/photo/icon/favicon.png [NC,QSA,END]
RewriteCond %{HTTP_HOST} ^([^.]+)\.(ng|com.ng|net|org|com|co.uk|co|one)$
RewriteRule ^favicon\.ico$ /orig/zero/ario/media/photo/icon/favicon.png [NC,QSA,END]

#Rewrite ARIO
RewriteCond %{HTTP_HOST} ^((?!api|app|www|ario).+)\.(.+)\.(ng|com.ng|net|org|com|co.uk|co|one)$
RewriteRule ^ario\/(.+)$ /orig/%1/ario/$1 [NC,QSA,END]
RewriteCond %{HTTP_HOST} ^(app|www|ario)\.(.+)\.(ng|com.ng|net|org|com|co.uk|co|one)$
RewriteRule ^ario\/(.+)$ /orig/zero/ario/$1 [NC,QSA,END]
RewriteCond %{HTTP_HOST} ^([^.]+)\.(ng|com.ng|net|org|com|co.uk|co|one)$
RewriteRule ^ario\/(.+)$ /orig/zero/ario/$1 [NC,QSA,END]

#Rewrite CSS
RewriteCond %{HTTP_HOST} ^((?!api|app|www|ario).+)\.(.+)\.(ng|com.ng|net|org|com|co.uk|co|one)$
RewriteRule ^css\/(.+)$ /orig/%1/ario/css/$1 [NC,QSA,END]
RewriteCond %{HTTP_HOST} ^(app|www|ario)\.(.+)\.(ng|com.ng|net|org|com|co.uk|co|one)$
RewriteRule ^css\/(.+)$ /orig/zero/ario/css/$1 [NC,QSA,END]
RewriteCond %{HTTP_HOST} ^([^.]+)\.(ng|com.ng|net|org|com|co.uk|co|one)$
RewriteRule ^css\/(.+)$ /orig/zero/ario/css/$1 [NC,QSA,END]

#Rewrite FONT
RewriteCond %{HTTP_HOST} ^((?!api|app|www|ario).+)\.(.+)\.(ng|com.ng|net|org|com|co.uk|co|one)$
RewriteRule ^font\/(.+)$ /orig/%1/ario/font/$1 [NC,QSA,END]
RewriteCond %{HTTP_HOST} ^(app|www|ario)\.(.+)\.(ng|com.ng|net|org|com|co.uk|co|one)$
RewriteRule ^font\/(.+)$ /orig/zero/ario/font/$1 [NC,QSA,END]
RewriteCond %{HTTP_HOST} ^([^.]+)\.(ng|com.ng|net|org|com|co.uk|co|one)$
RewriteRule ^font\/(.+)$ /orig/zero/ario/font/$1 [NC,QSA,END]

#Rewrite JS
RewriteCond %{HTTP_HOST} ^((?!api|app|www|ario).+)\.(.+)\.(ng|com.ng|net|org|com|co.uk|co|one)$
RewriteRule ^js\/(.+)$ /orig/%1/ario/js/$1 [NC,QSA,END]
RewriteCond %{HTTP_HOST} ^(app|www|ario)\.(.+)\.(ng|com.ng|net|org|com|co.uk|co|one)$
RewriteRule ^js\/(.+)$ /orig/zero/ario/js/$1 [NC,QSA,END]
RewriteCond %{HTTP_HOST} ^([^.]+)\.(ng|com.ng|net|org|com|co.uk|co|one)$
RewriteRule ^js\/(.+)$ /orig/zero/ario/js/$1 [NC,QSA,END]

#Rewrite AUDIO
RewriteCond %{HTTP_HOST} ^((?!api|app|www|ario).+)\.(.+)\.(ng|com.ng|net|org|com|co.uk|co|one)$
RewriteRule ^audio\/(.+)$ /orig/%1/ario/media/audio/$1 [NC,QSA,END]
RewriteCond %{HTTP_HOST} ^(app|www|ario)\.(.+)\.(ng|com.ng|net|org|com|co.uk|co|one)$
RewriteRule ^audio\/(.+)$ /orig/zero/ario/media/audio/$1 [NC,QSA,END]
RewriteCond %{HTTP_HOST} ^([^.]+)\.(ng|com.ng|net|org|com|co.uk|co|one)$
RewriteRule ^audio\/(.+)$ /orig/zero/ario/media/audio/$1 [NC,QSA,END]

#Rewrite IMAGE
RewriteCond %{HTTP_HOST} ^((?!api|app|www|ario).+)\.(.+)\.(ng|com.ng|net|org|com|co.uk|co|one)$
RewriteRule ^image\/(.+)$ /orig/%1/ario/media/photo/$1 [NC,QSA,END]
RewriteCond %{HTTP_HOST} ^(app|www|ario)\.(.+)\.(ng|com.ng|net|org|com|co.uk|co|one)$
RewriteRule ^image\/(.+)$ /orig/zero/ario/media/photo/$1 [NC,QSA,END]
RewriteCond %{HTTP_HOST} ^([^.]+)\.(ng|com.ng|net|org|com|co.uk|co|one)$
RewriteRule ^image\/(.+)$ /orig/zero/ario/media/photo/$1 [NC,QSA,END]

#Rewrite VIDEO
RewriteCond %{HTTP_HOST} ^((?!api|app|www|ario).+)\.(.+)\.(ng|com.ng|net|org|com|co.uk|co|one)$
RewriteRule ^video\/(.+)$ /orig/%1/ario/media/video/$1 [NC,QSA,END]
RewriteCond %{HTTP_HOST} ^(app|www|ario)\.(.+)\.(ng|com.ng|net|org|com|co.uk|co|one)$
RewriteRule ^video\/(.+)$ /orig/zero/ario/media/video/$1 [NC,QSA,END]
RewriteCond %{HTTP_HOST} ^([^.]+)\.(ng|com.ng|net|org|com|co.uk|co|one)$
RewriteRule ^video\/(.+)$ /orig/zero/ario/media/video/$1 [NC,QSA,END]

#Rewrite CLOUD
RewriteCond %{HTTP_HOST} ^((?!api|app|www|ario).+)\.(.+)\.(ng|com.ng|net|org|com|co.uk|co|one)$
RewriteRule ^cloud\/(.+)$ /orig/%1/cloud/$1 [NC,QSA,END]
RewriteCond %{HTTP_HOST} ^(app|www|ario)\.(.+)\.(ng|com.ng|net|org|com|co.uk|co|one)$
RewriteRule ^cloud\/(.+)$ /orig/zero/cloud/$1 [NC,QSA,END]
RewriteCond %{HTTP_HOST} ^([^.]+)\.(ng|com.ng|net|org|com|co.uk|co|one)$
RewriteRule ^cloud\/(.+)$ /orig/zero/cloud/$1 [NC,QSA,END]

#Rewrite LINK
RewriteCond %{HTTP_HOST} ^((?!api|app|www|ario).+)\.(.+)\.(ng|com.ng|net|org|com|co.uk|co|one)$
RewriteRule ^((?!(.+)\.(php|html|js|css|ico|png|jpg|svg|eot|woff|woff2|ttf|pdf|txt|md))(?!(api|app|ario|tydi|~play)\/).*)$ /index.php?ospring=%1&ohost=%2&otld=%3&oplatform=site&olink=$1 [NC,QSA,END]
RewriteCond %{HTTP_HOST} ^(api)\.(.+)\.(ng|com.ng|net|org|com|co.uk|co|one)$
RewriteRule ^((?!(.+)\.(php|html|js|css|ico|png|jpg|svg|eot|woff|woff2|ttf|pdf|txt|md))(?!(api|app|ario|tydi|~play)\/).*)$ /index.php?ospring=zero&ohost=%2&otld=%3&oplatform=api&olink=$1 [NC,QSA,END]
RewriteCond %{HTTP_HOST} ^(app)\.(.+)\.(ng|com.ng|net|org|com|co.uk|co|one)$
RewriteRule ^((?!(.+)\.(php|html|js|css|ico|png|jpg|svg|eot|woff|woff2|ttf|pdf|txt|md))(?!(api|app|ario|tydi|~play)\/).*)$ /index.php?ospring=zero&ohost=%2&otld=%3&oplatform=app&olink=$1 [NC,QSA,END]
RewriteCond %{HTTP_HOST} ^(www)\.(.+)\.(ng|com.ng|net|org|com|co.uk|co|one)$
RewriteRule ^((?!(.+)\.(php|html|js|css|ico|png|jpg|svg|eot|woff|woff2|ttf|pdf|txt|md))(?!(api|app|ario|tydi|~play)\/).*)$ /index.php?ospring=zero&ohost=%2&otld=%3&oplatform=site&olink=$1 [NC,QSA,END]
RewriteCond %{HTTP_HOST} ^([^.]+)\.(ng|com.ng|net|org|com|co.uk|co|one)$
RewriteRule ^((?!(.+)\.(php|html|js|css|ico|png|jpg|svg|eot|woff|woff2|ttf|pdf|txt|md))(?!(api|app|ario|tydi|~play)\/).*)$ /index.php?ospring=zero&ohost=%1&otld=%2&oplatform=site&olink=$1 [NC,QSA,END]

RewriteCond %{HTTP_HOST} ^((?!ario).+)\.(.+)\.(ng|com.ng|net|org|com|co.uk|co|one)$
RewriteRule ^api\/((?!(.+)\.(php|html|js|css|ico|png|jpg|svg|eot|woff|woff2|ttf|pdf|txt|md)).*)$ /index.php?ospring=%1&ohost=%2&otld=%3&oplatform=api&olink=$1 [NC,QSA,END]
RewriteCond %{HTTP_HOST} ^((?!ario).+)\.(.+)\.(ng|com.ng|net|org|com|co.uk|co|one)$
RewriteRule ^app\/((?!(.+)\.(php|html|js|css|ico|png|jpg|svg|eot|woff|woff2|ttf|pdf|txt|md)).*)$ /index.php?ospring=%1&ohost=%2&otld=%3&oplatform=app&olink=$1 [NC,QSA,END]

RewriteCond %{HTTP_HOST} ^([^.]+)\.(ng|com.ng|net|org|com|co.uk|co|one)$
RewriteRule ^api\/((?!(.+)\.(php|html|js|css|ico|png|jpg|svg|eot|woff|woff2|ttf|pdf|txt|md)).*)$ /index.php?ospring=zero&ohost=%1&otld=%2&oplatform=api&olink=$1 [NC,QSA,END]
RewriteCond %{HTTP_HOST} ^([^.]+)\.(ng|com.ng|net|org|com|co.uk|co|one)$
RewriteRule ^app\/((?!(.+)\.(php|html|js|css|ico|png|jpg|svg|eot|woff|woff2|ttf|pdf|txt|md)).*)$ /index.php?ospring=zero&ohost=%1&otld=%2&oplatform=app&olink=$1 [NC,QSA,END]

# BEGIN cPanel-generated php ini directives, do not edit
# Manual editing of this file may result in unexpected behavior.
# To make changes to this file, use the cPanel MultiPHP INI Editor (Home >> Software >> MultiPHP INI Editor)
# For more information, read our documentation (https://go.cpanel.net/EA4ModifyINI)
<IfModule php8_module>
   php_flag display_errors On
   php_value max_execution_time 30
   php_value max_input_time -1
   php_value max_input_vars 1000
   php_value memory_limit 528M
   php_value post_max_size 25M
   php_value session.gc_maxlifetime 1440
   php_value session.save_path "/var/cpanel/php/sessions/ea-php81"
   php_value upload_max_filesize 20M
   php_flag zlib.output_compression Off
</IfModule>
<IfModule lsapi_module>
   php_flag display_errors On
   php_value max_execution_time 30
   php_value max_input_time -1
   php_value max_input_vars 1000
   php_value memory_limit 528M
   php_value post_max_size 25M
   php_value session.gc_maxlifetime 1440
   php_value session.save_path "/var/cpanel/php/sessions/ea-php81"
   php_value upload_max_filesize 20M
   php_flag zlib.output_compression Off
</IfModule>
# END cPanel-generated php ini directives, do not edit

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php81” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php81___lsphp .php .php8 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
