a.logo {
	font-weight: bold;
	color: #8557d7;
	text-decoration: none;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	content: "";
}

a.logo::before {
	content: url("/aace/image/logo/icon.png");
	width: 42px;
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	text-align: left;
}

@media only screen and (min-width: 768px) {
	a.logo::before {
		content: url("/aace/image/logo/aace.png");
		width: 98px;
	}
}

@media only screen and (min-width: 990px) {
	a.logo::before {
		content: url("/aace/image/logo/logo.png");
		width: 162px;
	}
}

.sidebar-nav .metismenu ul li {
	border-bottom: 1px dotted #d0b9f8;
}

.ao-section-title {
	padding: 10px;
	text-transform: uppercase;
	border-radius: 3px;
	background-color: #d0b9f8;
	color: #8557d7;
	text-shadow: 0 1px 1px #e5e2ec;
}

.ao-btn {
	min-width: 130px;
}

.form-floating > textarea.form-control {
	height: 100%;
}


img#signaturePreview {
	max-height: 80px;
	max-width: 100%;
	height: auto;
}

img#photoPreview {
	max-height: 150px;
	max-width: 100%;
	height: auto;
}